html {
background: url('../assets/login/bg.jfif') no-repeat center center fixed;
background-size: cover;
height: 100%;
}
.container {
  width: 270px;
  margin-top: 40px;
  margin-left: 220px;
  background-color: rgba(143, 165, 185, 0.692);
  
}

.login-container {
    border: 1px solid gray;
}
.btn-group {
    display: flex;
    justify-content: center;
    
}
.login-container h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-left: 35%;
    color: #fff;
    
}
.btn {
    border: none;
    text-align: center;
    padding: 5px;
    width: 100px;
    margin-left: 3px;
    margin-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    background-image: linear-gradient(to left, #110514,#3b373b79, #1813177c);
    }

    .input {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .input > input {
        border: none;
        border-radius: 5px;
        padding: 5px;
        width: 250px;
        background: none;
        border: 1px solid black;
        
    }
  